//COPYJCL JOB 'WD-JCL-LANGX',MSGLEVEL=(1,1),MSGCLASS=R,NOTIFY=&SYSUID
{% for artifact in step.artifacts  %}
{% set path_property = artifact.properties | selectattr("key", "equalto", "path") | list | first%}
//{{artifact.name}} EXEC PGM=IEBGENER
//SYSPRINT DD SYSOUT=*
//SYSIN   DD DUMMY
//SYSUT1  DD PATHDISP=KEEP,
//           RECFM={{environment.spec.common_langx_spec.record_format}},LRECL={{environment.spec.common_langx_spec.record_length}},BLKSIZE={{environment.spec.common_langx_spec.block_size}},FILEDATA=RECORD,
{{ ('//         PATH=\'' + extra_vars.working_folder + '/' + path_property.value + '\'') | format_line(71,13,True,'//')}}
//SYSUT2  DD DSN={{environment.spec.ds_create_langx[0].name}}({{artifact.name}}),
//        DISP=SHR
//SYSIN   DD DUMMY
//*
{% endfor -%}
